<section class="dc-account-card">
  <h1 class="dc-account-title">Reset password</h1>
  {% form 'reset_customer_password' %}
    {{ form.errors | default_errors }}

    <label class="dc-account-label" for="reset-password">New password</label>
    <input class="dc-account-input" type="password" id="reset-password" name="customer[password]" required autocomplete="new-password">

    <label class="dc-account-label" for="reset-password-confirm">Confirm password</label>
    <input class="dc-account-input" type="password" id="reset-password-confirm" name="customer[password_confirmation]" required autocomplete="new-password">

    <button class="dc-btn dc-btn--primary dc-btn--block" type="submit">Reset password</button>
  {% endform %}
</section>
